config:
  amqp:
    server:
      host: localhost
      login: test
      password: test
      virtualhost: /test
    handlers:
      dead: 1
  etcd:
    host: localhost
    port: 2379
    root: /test/evc
devices:
  test:
    what:
      type: ping
      config:
        interval: 0.2
    one:
      type: pling
      config:
        delay: 1
        want: two
    two:
      type: pling
      config:
        delay: 2
    three:
      type: pling
      config:
        delay: 3
        want: two

