config:
  amqp:
    server:
      host: dev7
      login: test
      password: test
      virtualhost: /test/master
    handlers:
      dead: 1
devices:
  meter:
    r1:
      type: random
      config:
        interval: 2
        power: rp1
    r2:
      type: random
      config:
        power: rp1
  power:
    rp1:
      type: limit
      config:
        A_max: 40
        headroom: 1.15
  charger:
    r1:
      type: random
      config:
        display: one
        meter: r1
        power: p1
        A_max: 32
    r2:
      type: random
      config:
        display: one
        meter: r2
        power: rp1
        A_max: 32
