<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

<title>Mr.{{foo}}</title>

  </head>
  <body>
    <h1>Venoris Charger list</h1>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<p>Hier sehen Sie den aktuellen Status der Ladesäulen am Besucherparkplatz der Thomas-Mann-Straße 16-20, Nürnberg.
</p>
<table>
<tr>
<th>name</th>
<th>state</th>
<th>max</th>
<th>Strom</th>
<th>kW</th>
<th>PF</th>
<th>kWh</th>
<th>min</th>
</tr>
{% for n,v in charger.items() %}
<tr>
<td>{{n}}</td>
<td>{% if v.charging %}Yes{% elif v.connected %}waiting{% else %}No{% endif %}</td>
<td>{{v.A_avail}}</td>
{% if v.charging %}
<td>{{'%.02f'|format(v.amp)}}</td>
<td>{{'%.02f'|format(v.power/1000)}}</td>
<td>{{'%.02f'|format(v.power_factor)}}</td>
{% else %}
<td>–</td>
<td>–</td>
<td>–</td>
{% endif %}
<td>{{'%.02f'|format(v.charge_Wh/1000)}}</td>
<td>{{'%.01f'|format(v.charge_sec/60)}}</td>
</tr>
{% endfor %}
</table>
<p>
Die Schranke öffnet sich durch die Tasten ‘🞁’ und ‘5’ ("Ladesäulen") an der Sprechstelle.
<br />
Bitte beachten Sie ggf. die Hinweise der Ansage.
</p>
<p>
Das Parken an den Ladesäulen ist nur während des Aufladens gestattet!
</p>
</body></html>
