-extends "layout.haml"
-block scripts
  =super()
  %script type="text/javascript" src="{{ 'js/monitor.js'|static }}"

-block alert
    %div.alert.alert-info
        Javascript ist nicht aktiv.

-block body
  %h1
    Ladestationen
  %p
    Hier sehen Sie den aktuellen Status der Ladesäulen am Besucherparkplatz der Thomas-Mann-Straße 16-20, Nürnberg.
  %div class="row"
    %div class="col-xs-12 col-sm-10 col-md-6"
      %table class="table table-hover table-bordered table-sm"
        %thead
          %tr
            %th 
              Name
            %th 
              Status
            %th class="num-right"
              max.
              %br
              Strom
            %th class="num-right"
              Strom
              %br
              aktuell
            %th class="num-right"
              Leistung
              %br
              kW
            %th class="num-right"
              Power
              %br
              Factor
            %th class="num-right"
              Energie
              %br
              kWh
            %th class="num-right"
              Ladezeit
              %br
              min
        %tbody
          -for n,v in charger.items()
            %tr id='charger_{{n}}'
              %th scope="row"
                =v.display_name
              %td class="f1"
                =v.state
              -if v.charging or v.connected
                %td class="num-right f2"
                  ='%.1f'|format(v.amp_avail)
              -else
                %td class="num-right f2"
                  ='(%.1f)'|format(v.amp_avail)
              -if v.charging
                %td class="num-right f3"
                  ='%.2f'|format(v.amp)
                %td class="num-right f4"
                  ='%.2f'|format(v.power/1000)
                %td class="num-right f5"
                  ='%.2f'|format(v.power_factor)
              -else
                %td class="num-right f3"
                  –
                %td class="num-right f4"
                  –
                %td class="num-right f5"
                  –
              %td class="num-right f6"
                ='%.2f'|format(v.charge_Wh/1000)
              %td class="num-right f7"
                ='%.1f'|format(v.charge_sec/60)
  %p
    Mit den Tasten ▲ und 5 ("Ladesäulen") an der Sprechstelle können Sie
    die Schranke auch ohne Zugangskarte öffnen.
    %br
    Bitte beachten Sie ggf. die Hinweise der Ansage.
  %p
    Der Parameter "Power Factor" beschreibt, welcher Anteil des bezogenen Stroms
    tatsächlich genutzt wird. Bei geringerer Ladeleistung (Batterie fast
    voll) sinkt er in der Regel.
    %br
    Bei Werten unter 0.7 behalten wir uns vor, die Ladung abzubrechen.
  %p
    Das Parken an den Ladesäulen ist nur während des Ladens gestattet!
    %br
    Fahrzeuge, die den Zugang zu unseren Ladestationen zum kostenlosen
    Parken zweckentfremden, können ohne Vorwarnung abgeschleppt werden.
  %p
    Der Parkplatz ist video-überwacht.

